/* @primary-color:blue;
@secondary-color:grey;
@text-black:black; */
.container{
  margin: 0 40px;
}
a{
  text-decoration: none;
}
.card{
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  
}
.card .card-header{
  padding: 5px 20px;
  background-color: grey;
  color: black;
}
.card .card-body{
  padding: 20px;
}

.form-control{
  width: 100%;
  border-radius: 15px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.form-group{
  margin: 5px 0;
}

ul{
  display: flex;
}
ul li{
  list-style: none;
  margin: 10px;
  
}
ul li a{
  text-decoration: none;
  
}